*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
    background: #000000;
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    /* font-style: italic; */
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:60px;
    margin-right:60px; 
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;

}

main p {

margin-left: 100px;
margin-right: 100px;
margin-bottom: 40px;

line-height: 20px;
text-indent: 5px;
font-size: 1.2em;
color: #ff0000;

}
